@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');

body {
    background-image: url("https://georgianneblog.files.wordpress.com/2013/02/dsc_00021.jpg"); 
    opacity: 1;
}

p {
    color: #ffffff;  
    font-family: "Roboto Mono", monospace; 
    font-weight: bold; 
}

a {
    color: #C0C0C0;  
    font-family: "Roboto Mono", monospace; 
    font-weight: bold; 
}

h2 {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    text-align: left;
}

.title {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    text-align: center; 
}

.question {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    font-weight: bold; 
    text-align: left; 
}

.subtitle {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;
    font-size: 14px;  
    font-weight: bold; 
    text-align: center; 
}

.try {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;  
}

.ending {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;
    line-height: 150px; 
    text-align: center;
}
#resume {
    position: relative; 
    height: 300px; 
    width: 500px; 
}

#btn {
    margin-top: 100px; 
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
/*   background: rgba(0,0,0,0.5); */
}

/* Control the right side */
.right {
  right: 0;
/*   background: rgba(0,0,0,0.5); */
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
