@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');

body {
    background-color: black; 
    opacity: 1;
}

p {
    color: #ffffff;  
    font-family: "Roboto Mono", monospace; 
    font-weight: bold; 
}

h2 {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    font-size: 16px;
}

a {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    font-size: 16px; 
}

.title {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    text-align: center; 
}

.question {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    font-weight: bold; 
    text-align: left; 
}

.subtitle {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;
    font-size: 14px;  
    font-weight: bold; 
    text-align: center; 
}

.try {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;  
}

.ending {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace;
    line-height: 150px; 
    text-align: center;
}

.nlp {
    color: #ffffff; 
    font-family: "Roboto Mono", monospace; 
    font-size: 16px; 
}


#resume {
    position: relative; 
    height: 300px; 
    width: 500px; 
}

#btn {
    position: relative; 
    top: 25px; 
}
